<main id="main">
    <section class="jumbotron text-center mb-0">
        <div class="col-md-6" style="margin: 0 auto;">
          <button class="form-control btn btn-success" (click)="deleteAlbum()">Supprimer l'album</button>
            <p>Ajouter une photo :</p>
            <form (submit)="addPhoto($event)">
                <input class="form-control" id="title" name="title" ngModel placeholder="Nom de la photo" required="required"><br/>
                <input class="form-control" id="author" name="author" ngModel placeholder="Auteur" required="required"/><br/>
                <input class="form-control" id="path" name="path" ngModel placeholder="Url de l'image" required="required" /><br/>
                <textarea class="form-control" id="description" name="description" ngModel placeholder="Description"></textarea><br/>
                <input class="form-control" id="numeroImg" name="numeroImg" ngModel placeholder="Emplacement de l'image, entre 0 et 9" required="required"/><br/>
                <button class="form-control btn btn-success" type="submit">Ajouter</button>
            </form>
          <p>Supprimé une photo</p>
          <form (submit)="deletePhoto($event)">
            <input class="form-control" id="numeroImgDel" name="numeroImgDel" ngModel placeholder="Emplacement de l'image, entre 0 et 9" required="required"/><br/>
            <button class="form-control btn btn-success" type="submit">Supprimer l'image avec le numéro si dessus</button>
          </form>
        </div>
    </section>
</main>

<div class="album py-5 bg-light">
    <div class="container">

        <p id="breadcrumb">
            <a href="./">Accueil</a> > <span>{{album.titre}}</span>
        </p>

        <h2>Liste des photos</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img height="256px" src="{{ album.photo0.path }}"/>
                    <div class="card-body">
                        <h4 class="card-text">
                            {{album.photo0.titre}}
                        </h4>
                        <p style="height: 20px; overflow-y: auto;">
                            {{album.photo0.description}}
                        </p>
                        <div class="authorlabel" style="color: gray;">Ajouté par <span style="font-weight: bold;">{{album.photo0.auteur}}</span></div>
                    </div>
                </div>
            </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img height="256px" src="{{ album.photo1.path }}"/>
              <div class="card-body">
                <h4 class="card-text">
                  {{album.photo1.titre}}
                </h4>
                <p style="height: 20px; overflow-y: auto;">
                  {{album.photo1.description}}
                </p>
                <div class="authorlabel" style="color: gray;">Ajouté par <span style="font-weight: bold;">{{album.photo1.auteur}}</span></div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img height="256px" src="{{ album.photo2.path }}"/>
              <div class="card-body">
                <h4 class="card-text">
                  {{album.photo2.titre}}
                </h4>
                <p style="height: 20px; overflow-y: auto;">
                  {{album.photo2.description}}
                </p>
                <div class="authorlabel" style="color: gray;">Ajouté par <span style="font-weight: bold;">{{album.photo2.auteur}}</span></div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img height="256px" src="{{ album.photo3.path }}"/>
              <div class="card-body">
                <h4 class="card-text">
                  {{album.photo3.titre}}
                </h4>
                <p style="height: 20px; overflow-y: auto;">
                  {{album.photo3.description}}
                </p>
                <div class="authorlabel" style="color: gray;">Ajouté par <span style="font-weight: bold;">{{album.photo3.auteur}}</span></div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img height="256px" src="{{ album.photo4.path }}"/>
              <div class="card-body">
                <h4 class="card-text">
                  {{album.photo4.titre}}
                </h4>
                <p style="height: 20px; overflow-y: auto;">
                  {{album.photo4.description}}
                </p>
                <div class="authorlabel" style="color: gray;">Ajouté par <span style="font-weight: bold;">{{album.photo4.auteur}}</span></div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img height="256px" src="{{ album.photo5.path }}"/>
              <div class="card-body">
                <h4 class="card-text">
                  {{album.photo5.titre}}
                </h4>
                <p style="height: 20px; overflow-y: auto;">
                  {{album.photo5.description}}
                </p>
                <div class="authorlabel" style="color: gray;">Ajouté par <span style="font-weight: bold;">{{album.photo5.auteur}}</span></div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img height="256px" src="{{ album.photo6.path }}"/>
              <div class="card-body">
                <h4 class="card-text">
                  {{album.photo6.titre}}
                </h4>
                <p style="height: 20px; overflow-y: auto;">
                  {{album.photo6.description}}
                </p>
                <div class="authorlabel" style="color: gray;">Ajouté par <span style="font-weight: bold;">{{album.photo6.auteur}}</span></div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img height="256px" src="{{ album.photo7.path }}"/>
              <div class="card-body">
                <h4 class="card-text">
                  {{album.photo7.titre}}
                </h4>
                <p style="height: 20px; overflow-y: auto;">
                  {{album.photo7.description}}
                </p>
                <div class="authorlabel" style="color: gray;">Ajouté par <span style="font-weight: bold;">{{album.photo7.auteur}}</span></div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img height="256px" src="{{ album.photo8.path }}"/>
              <div class="card-body">
                <h4 class="card-text">
                  {{album.photo8.titre}}
                </h4>
                <p style="height: 20px; overflow-y: auto;">
                  {{album.photo8.description}}
                </p>
                <div class="authorlabel" style="color: gray;">Ajouté par <span style="font-weight: bold;">{{album.photo8.auteur}}</span></div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img height="256px" src="{{ album.photo9.path }}"/>
              <div class="card-body">
                <h4 class="card-text">
                  {{album.photo9.titre}}
                </h4>
                <p style="height: 20px; overflow-y: auto;">
                  {{album.photo9.description}}
                </p>
                <div class="authorlabel" style="color: gray;">Ajouté par <span style="font-weight: bold;">{{album.photo9.auteur}}</span></div>
              </div>
            </div>
          </div>

        </div>
    </div>
</div>
